/* Navbar Container */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #181818;
    background-blend-mode: lighten;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }
  
  /* Navbar List */
  nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
  }
  
  /* Navbar Links */
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.8);
    transition: color 0.3s ease-in-out;
  }
  
  nav ul li a:hover {
    color: #feb47b;
    text-shadow: 0px 0px 10px rgba(255, 184, 123, 0.6);
  }
  